
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /*put a border around everything to see where it stops and starts*/
    /*     border:1px solid grey; */
  }

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: "PT Sans", sans-serif;
    background-color: #fffafa;
  }

/* header items */

.main {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 15px;
}  

h1 {
    font-size: 3rem;
    text-align: left;
}

header nav {
    /* display: flex; */
}

.links {
    /* width: 100px;
    margin: 0 2%;
    border: 1px solid black;
    background: lightgray; */
}

/* .me main section */

.me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 30%;
    padding: 2%;
}

.round {
    border-radius: 50%;
}

h2 {
    font-size: 2.5rem;
}

.text {
    width: 55%;
    padding: 20px;
    margin-left: 5%;
    line-height: 2;
}

/* projects section */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.portfolio-element {
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a {
    text-decoration: none;
    color:inherit;
}

/* contacts-footer section */

footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

.contact {
    /* margin: 4% auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
